<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quoting Dojo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

</head>

<body>

    <h1>Here are the awesome quotes!</h1>


                    <% for (var i in quotes) { %>
                        <p>
                           
                                <p>"<%= quotes[i].quote %>"</p>

                                <p>-<%= quotes[i].name %> at <%= moment(quotes[i].createdAt).format("hh:mm a MMMM D YYYY") %></p>
                                  
                        </p>
                        <% } %>

                          
</body>

</html>